<!--
    FALLINGFOX WEB LEADERBOARD

    Kód celého Discord bota: https://github.com/JonanekDev/Discord-FallingFox
    Checkuj moje Instagramy: https://www.instagram.com/jonysek98/ a https://www.instagram.com/divnej.clovek.z.prostejova/

    Btw proč mi čumíš do kódu? :THINKING:
    NEMÁŠ NA SVŮJ KÓD NEBO CO? :RAGEY:

    Btw mám rád FallingFox
-->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FallingFox | Administrace | <%= PageTitle %></title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <% if (locals.AdminErr) { %>
        <div class="NADPIS">FallingFox Administrace</div>
        <div id="ErrorFrame">
            <%- AdminErr %>
        </div>
    <% } else if(user.logined == 1) { %>
        <div id="GridContainer">
            <div id="AdminMenu">
                <div class="PadaTiServer">FallingFox Administrace</div>
                <div class="UzivatelAdministrace">
                    <img class="avatar" src="https://cdn.discordapp.com/avatars/<%- user.data.id %>/<%- user.data.avatar %>.webp?size=128">
                    <div class="Jmeno"><%- user.data.username %>#<%- user.data.discriminator %></div>
                    <% if (user.administracepravo == true) { %>
                        <div class="StatusPristupu" style="color: green;">
                            Máš přístup do administrace
                        </div>
                    <% } else { %>
                        <div class="StatusPristupu" style="color: red;">
                            Nemáš přístup do administrace
                        </div>
                    <% } %>
                </div>
                <% if (user.administracepravo == true) { %>
                <a href="/administrace/main">Základní info</a>
                <a href="/administrace/levelroles-edit">Role za levely</a>
                <% } %>
                <a href="https://github.com/JonanekDev/Discord-FallingFox" target="_blank">Sourcecode</a>
                <a href="/administrace/logout">Odhlášení</a>
            </div>
            <div id="AdminContent">
                <% if (user.administracepravo == true) { %>
                    <%- include(adminContentEJS); %>
                <% } else { %>
                    Omlouváme se, ale nemáš potřebnou roli pro přístup do adminsitrace.
                <% } %>
            </div>
        </div>
    <% } else { %>
        <div class="NADPIS">FallingFox Administrace</div>
        <div id="ErrorFrame">
            Coapk tu chceš? Běž dom, dík
        </div>
    <% } %>
</body>
</html>  